<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/DamianHoogsteder/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="DamianHoogsteder" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>


        